{{page-title "AddContact"}}
{{outlet}}
<div id="body">
    <center><br><br><h3 style="color:white">Add contact</h3><br><br><br>
        <div class="addContact"><br>
            <input type="text" id="f_name" placeholder="Name"><br><br>
            <input type="number" id="f_number" placeholder="Mobile number"><br>   <br>
            <button type="button" {{action 'addContact'}}>Save</button>
        </div>
    </center>                                                                                                                                                                
</div>