{{page-title "Sample"}}
{{outlet}}
{{!-- <script src="getSession.js"></script> --}}

<div class="samp" style="height: 10%; width: 10%; border: black; border-style: groove">

</div><br>
<div class="samp"  style="height: 124px; width: 124px; border: black; border-style: groove">
    
</div>
<input enter= "myAction" aria-controls="existing-user-table" placeholder="Search">

{{input value="search..." enter='myAction'}}