{{page-title "Log in"}}

{{!-- <center><br><br><br><br>
    <div class="container"><br><br><br><br>
        <label name="user">User Id : </label>
        <input type="text" name="user" id="userId"><br><br>

        <label name="pass">Password : </label>
        <input type="password" name="pass" id="password"><br><br>

        <button type="button" class="button" {{action "checkUser"}} type="button">Log in</button><br><br>
        Don't you have an account? <LinkTo @route="add-user">Create</LinkTo>
    </div>

    
</center><br><br><br><br><br> --}}
{{!-- <button type="button" {{action 'btn'}}></button>
<div class="test"></div>
<i class="fa fa-list"></i> --}}